[defaults]
hostfile       = hosts
remote_tmp     = ~/.ansible/tmp
roles_path     = roles
pattern        = *
forks          = 5
poll_interval  = 10
transport      = smart
module_lang    = C
gathering      = smart

library = ./library
timeout = 30
pipelining = True
record_host_keys = False
host_key_checking = False

executable = /bin/bash
retry_files_enabled = False
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

display_skipped_hosts = True
system_warnings = True
deprecation_warnings = True

action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins

nocows = 1
http_user_agent = ansible-agent

[ssh_connection]
scp_if_ssh = True

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30
